In [2]:
import pymysql
from datetime import date, datetime, timedelta

In [13]:
conn = pymysql.connect(host='127.0.0.7',port=3306,user='root',
                       password='123456',db='dbt',charset = 'utf8mb4',
                      cursorclass = pymysql.cursors.DictCursor)
cursor = conn.cursor()

In [10]:
tomorrow = datetime.now().date() + timedelta(days=1)

In [15]:
#创建表
sql = """CREATE TABLE EMPLOYEE(
FIRST_NAME CHAR(20) NOT NULL,
LAST_NAME CHAR(20) NOT NULL,
AGE INT)"""

In [16]:
cursor.execute(sql)

0

In [17]:
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,LAST_NAME,AGE) VALUES('Mac','Mpnha',20)"""

In [20]:
try:
    cursor.execute(sql)
    conn.commit()
except:
    conn.rollback()
conn.close()

In [23]:
conn = pymysql.connect(host='127.0.0.7',port=3306,user='root',
                       password='123456',db='dbt',charset = 'utf8mb4',
                      cursorclass = pymysql.cursors.DictCursor)
cursor = conn.cursor()

In [24]:
cursor.execute("SELECT VERSION()")

1

In [25]:
data = cursor.fetchone()
print("Datanase version: %s" % data)

Datanase version: {'VERSION()': '5.7.17-log'}

In [26]:
conn.close()

In [60]:
db = pymysql.connect(host='127.0.0.1',port = 3306,user = 'root',password='123456',db='dbt',charset='utf8mb4')
cursor = db.cursor()
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")

0

In [61]:
# 建立数据表
sql = """CREATE TABLE EMPLOYEE(
FIRST_NAME CHAR(20) NOT NULL,
LAST_NAME CHAR(20),
AGE INT,
SEX CHAR(1),
INCOME FLOAT)"""

In [62]:
cursor.execute(sql)

0

In [63]:
# 数据库插入操作
sql ="""INSERT INTO EMPLOYEE(
FIRST_NAME,LAST_NAME,AGE,SEX,INCOME) VALUES
('Mac','Mohan',20,'M',2000)"""
try:
    cursor.execute(sql)
    db.commit()
except:
    db.rollback()

In [64]:
# 插入操作2
sql = """INSERT INTO EMPLOYEE(
FIRST_NAME,LAST_NAME,AGE,SEX,INCOME)
VALUES (%s,%s,%s,%s,%s)"""
try:
    cursor.execute(sql,('Mark','Lee',20,'M',2100) )
    db.commit()
except:
    db.rollback()

In [65]:
db.close()

In [71]:
# 数据库查询操作
db = pymysql.connect(host='localhost',port = 3306,user = 'root',password='123456',db='dbt',charset='utf8mb4')
cursor = db.cursor()
sql = """SELECT * FROM EMPLOYEE WHERE INCOME > '%s'"""
try:
    cursor.execute(sql,1000)
    results = cursor.fetchall()
    for row in results:
        fname = row[0]
        lname = row[1]
        age = row[2]
        sex = row[3]
        income = row[4]
        print("fname=%s,lname=%s,age=%s,sex=%s,income=%.2f" % \
             (fname,lname,age,sex,income))
except:
    print("Error: unable to fetch data")

fname=Mac,lname=Mohan,age=20,sex=M,income=2000.00
fname=Mark,lname=Lee,age=20,sex=M,income=2100.00

In [72]:
db.close()

In [4]:
# 创建带有逐渐的数据表
db = pymysql.connect(host='localhost',port = 3306,user = 'root',password='123456',db='dbt',charset='utf8mb4')
cursor = db.cursor()

In [12]:
cursor.execute("DROP TABLE IF EXISTS TEST2")
sql = """CREATE TABLE TEST2(ID INT(11) NOT NULL AUTO_INCREMENT,
NAME CHAR(20) NOT NULL,
SEX ENUM('F','M'),
AGE INT(4),
SALARY FLOAT(10) DEFAULT '5000.0',
PRIMARY KEY (ID))"""
cursor.execute(sql)

d:\py3.5.2\lib\site-packages\pymysql\cursors.py:166: Warning: (1051, "Unknown table 'dbt.test2'")
  result = self._query(query)

0

In [26]:
db.close()

In [35]:
# 修改值
db = pymysql.connect(host='localhost',port = 3306,user = 'root',password='123456',db='dbt',charset='utf8mb4')
cursor = db.cursor()
cursor.execute("SET SQL_SAFE_UPDATES = 0")

0

In [38]:
sql = """UPDATE TEST2 SET SALARY='3700' WHERE NAME='ZHANG SAN'"""
try:
    cursor.execute(sql)
    db.commit()
except:
    db.rollback()

In [41]:
db.close()